html, body {
    height: 100%;
    width: 100%;
    font-family: 'Secular One', sans-serif;
    color: #222222;
    scroll-behavior: smooth;
  }


  .class-group-item:hover {
    color: #2693ff;
  }

  .var-highlight{
	color: #C0AD60;
}
.string-highlight{
	color: rgba(253, 149, 90, 0.8);
}

.row {
  display: flex; /* equal height of the children */
}

.col {
  flex: 1; /* additionally, equal width */
}

body{margin-top:20px;}
.timeline {
    border-left: 3px solid #007bff;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(114, 124, 245, 0.09);
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 90%;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 5px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.timeline .event {
    border-bottom: 1px dashed #e8ebf1;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 10px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #007bff;
    box-shadow: 0 0 0 3px #007bff;
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #727cf5;
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}


.everything-else {
  margin-left: 10%;
  margin-right: 10%;
}

/* Cursor Styling */

.cursor::after {
    content:'';
    display:inline-block;
    margin-left:3px;
    background-color:#222222;
    animation-name:blink;
    animation-duration:0.5s;
    animation-iteration-count: infinite;
  }
  h1.cursor::after {
    height:24px;
    width:13px;
  }
  p.cursor::after {
    height:13px;
    width:6px;
  }
  
  @keyframes blink {
    0% {
      opacity:1;
    }
    49% {
      opacity:1;
    }
    50% {
      opacity:0;
    }
    100% {
      opacity:0;
    }
  }

@-webkit-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@-moz-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

.hidden {
    display: none;
}

.subtitle {
        
  font-family: 'Secular One', sans-serif;
  font-size: 50px;
  font-weight: 500;
  z-index: 20;
  color: black;
}

#spec {
  color : black;
  text-decoration: none;
  border-top: 5px solid rgb(0, 255, 239);
  
}
.darkmode-layer, .darkmode-toggle {
  z-index: 500;
}
@media only screen and (min-width: 888px) {/*tablets and desktop*/
    .title {
      font-family: 'Secular One', sans-serif;
        font-size: 70px;
        font-weight: 500;
        z-index: 20;
        color: #222222;
        margin-top: 20px;
      }

    .margin-style-first {
        margin: 160px 160px 20px 160px;
    }
    .margin-style-second {
        margin: 10px 60px 10px 60px;
    }
    .margin-style-third {
        margin: 10px 140px 30px 140px;
    }
}
    @media screen and (max-device-width: 888px){
    .margin-style-first {
        margin: 20px 40px 40px 20px;
    }
    .margin-style-second {
        margin: 30px;
    }

    .margin-style-third {
        margin: 10px;
    }
}

      
    