html, body {
    height: 100%;
    width: 100%;
    font-family: 'Source Code Pro', monospace;
    color: #222222;
    scroll-behavior: smooth;
  }


  .class-group-item:hover {
    color: #2693ff;
  }

  .var-highlight{
	color: #C0AD60;
}
.string-highlight{
	color: rgba(253, 149, 90, 0.8);
}
  
  
 .line{
width: 112px;
height: 47px;
border-bottom: 1px solid black;
position: absolute;
}

/* Cursor Styling */

.cursor::after {
    content:'';
    display:inline-block;
    margin-left:3px;
    background-color:white;
    animation-name:blink;
    animation-duration:0.5s;
    animation-iteration-count: infinite;
  }
  h1.cursor::after {
    height:24px;
    width:13px;
  }
  p.cursor::after {
    height:13px;
    width:6px;
  }
  
  @keyframes blink {
    0% {
      opacity:1;
    }
    49% {
      opacity:1;
    }
    50% {
      opacity:0;
    }
    100% {
      opacity:0;
    }
  }

@-webkit-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@-moz-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

.hidden {
    display: none;
}

@media only screen and (min-width: 888px) {/*tablets and desktop*/
    .title {
        font-family: 'Source Code Pro', monospace;
        font-size: 40px;
        font-weight: 500;
        z-index: 20;
        color: black;
        margin-top: 20px;
      }

      .subtitle {
        
        font-family: 'Source Code Pro', monospace;
        font-size: 50px;
        font-weight: 500;
        z-index: 20;
        color: black;
      }

      #spec {
        text-decoration: none;
        border-top: 5px solid rgb(0, 255, 239);
        
    }

    .margin-style-first {
        margin: 160px 160px 20px 160px;
    }
    .margin-style-second {
        margin: 10px 60px 10px 60px;
    }
    .margin-style-third {
        margin: 10px 140px 30px 140px;
    }
}
    @media screen and (max-device-width: 888px){


    #two {
        font-family: 'Raleway', sans-serif;
        position: absolute;
        font-size: 20px;

        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
    }
    .margin-style-first {
        margin: 20px 40px 40px 20px;
    }
    .margin-style-second {
        margin: 30px;
    }

    .margin-style-third {
        margin: 60px;
    }
}

      
    